html {
  height: 100%;
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}

/* MAP */
#map {
  margin: auto;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  #map {
    width: 95%;
  }
}

@media screen and (min-width: 1001px) {
  #map {
    width: 980px;
  }
}

/* Selection, Header, Footer */
header {
  font-size: 2.5em;
  justify-content: center;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

div #selection_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 5px 20px 5px; /*t, r, b, l*/
}

select {
  background-color: #444;
  color: #eee;
  font-size: 1.3em;
}

option {
  background-color: #444;
  color: #eee;
  font-size: 0.8em; /* Needs to be a little smaller than the select*/
}

#selectTitle {
  font-size: 1.3em;
  padding-right: 1em;
}

footer {
  justify-content: center;
  text-align: center;
  font-size: 1em;
  padding: 1em 0em;
}

footer a {
  color: rgb(20, 231, 1);
  font-size: 1em;
  text-decoration: none; /* Don't underline link */
}

footer a:hover{
  background-color: rgba(20, 231, 1, 0.3);
}

footer a:visited{
  color: rgb(20, 231, 1);
  text-decoration: none;
}

/* Plots */

.plots_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: auto; /* Make sure it stays centered in page */
}

.plot {
  border: 0.4em solid #939393;
  margin: 1em;
}

/* Map Legend */

.legend {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #555;
}

h3.legend_title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.legend_row {
  padding: 4px, 2px;
}

.legend_color {
  float: left;
  width: 15px;
  height: 15px;
}

.legend_text {
  padding: 0px 2px 0px 20px;
}